:root {
  /* -------------COLORS */
  --titleColor: #003328;
  --textColor: #c79a7e;
  --newColor: #a25fd6;
  --backgroundColor: #fffefe;
  --bodyColor: #FAFAFA;
  --alternateBackground: #F0EFEF;
  --lightColor: #4a5e50;
  --lighterColor: #9aada8;
  --goldTrim: #ddc9a4;
  --golden: #beb07b;

  /* -------------FONT SIZES */
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .875rem;
  --smaller-font-size: .813rem;

  /* -------------MARGINS */
  --mg1: 0.5rem;
  --mg2: 1rem;
  --mg3: 1.5rem;

  /* -------------Z INDEX */
  --zTooltip: 10;
  --zFixed: 100;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body.darkTheme{
  --titleColor: #fffefe;
  --textColor: #BFBFBF;
  --newColor: #a25fd6;
  --backgroundColor: #2b2b2b;
  --bodyColor: #212121;
  --alternateBackground: #181616;
}

.changeTheme{
  position: absolute;
  right: 0;
  top: 2.2rem;
  display: flex;
  color: var(--lighterColor);
  font-size: 1.2rem;
  cursor: pointer;
}

.changeTheme:hover{
  color: var(--titleColor);
}

body.scaleCV{
  --h1-font-size: .938rem;
  --h2-font-size: .938rem;
  --h3-font-size: .875rem;
  --normal-font-size: .813rem;
  --small-font-size: .75rem;
  --smaller-font-size: .688rem;
}

.generatePDF{
  display: none;
  position: absolute;
  top: 2.2rem;
  left: 0;
  font-size: 1.2rem;
  color: var(--lighterColor);
  cursor: pointer;
}

.generatePDF:hover{
  color: var(--titleColor);
}

.scaleCV .changeTheme,
.scaleCV .generatePDF{
  display: none;
}

.scaleCV .container{
  max-width: 595px;
}

.scaleCV .section{
  padding: 1.5rem 0 .8rem;
}

scaleCV .sectionTitle{
  margin-bottom: .75rem;
}

.scaleCV .resumeLeft,
.scaleCV .resumeRight{
  padding: 0 1rem;
}

.scaleCV .homeImage{
  width: 90px;
  height: 90px;
}

.scaleCV .homeContainer{
  gap: 1.5rem;
}

.scaleCV .homeData{
  gap: .25rem;
}

.scaleCV .homeAddress,
.scaleCV .socialContainer{
  gap: .75rem;
}

.scaleCV .navIcon,
.scaleCV .socialIcon,
.scaleCV .interestsIcon{
  font-size: 1rem;
}

.scaleCV .educationContent,
.scaleCV .experienceContent,
.scaleCV .certificateContainer{
  gap: 1rem;
}

.scaleCV .educationTime,
.scaleCV .experienceTime{
  padding-right: .5rem;
}

.scaleCV .educationRounder,
.scaleCV .experienceRounder{
  width: 11px;
  height: 11px;
  margin-top: .22rem;
}

.scaleCV .educationLine,
.scaleCV .experienceLine{
  width: 1px;
  height: 120%;
  transform: translate(5px, 0);
}

.scaleCV .educationData,
.scaleCV .experienceData{
  gap: .25rem;
}

.scaleCV .skillsName{
  margin-bottom: var(--mg1);
}

.scaleCV .interestsContainer{
  column-gap: 2.5rem;
}

body {
  margin: 0 0 3rem 0;
  padding: 0;
  user-select: none; /* remove? */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: var(--normal-font-size);
  background-color: var(--backgroundColor);
  color: var(--textColor);
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
}

h1,
h2,
h3 {
  color: var(--titleColor);
  font-weight: 500;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
  pointer-events: none;
}

.section {
  padding: 1.5rem 0;
}

.sectionTitle {
  font-size: var(--h1-font-size);
  color: var(--titleColor);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.35rem;
  text-align: center;
  margin-bottom: var(--mg3);
}

.container {
  max-width: 969 px;
  width: calc(100% - 3rem);
  margin-left: var(--mg3);
  margin-right: var(--mg3);
}
.grid {
  display: grid;
  gap: 1.5rem;
}

.header1 {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--zFixed);
  background-color: var(--backgroundColor);
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

/* -------------NAVIGATION */
.nav {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 968px) {
  .navMenu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    padding: 2rem 1.5rem;
    background-color: var(--backgroundColor);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    border-radius: 1rem 1rem 0 0;
    z-index: var(--zFixed);
    transition: 0.3s;
  }
}

.navLogo,
.navToggle {
  color: var(--titleColor);
  font-weight: 500;
}

.navToggle {
  font-size: 1.2rem;
  cursor: pointer;
}
.navItem {
  text-align: center;
}

.navList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.navLink {
  display: flex;
  flex-direction: column;
  font-size: var(--small-font-size);
  color: var(--lighterColor);
  font-weight: 500;
}

.navLink:hover {
  color: var(--titleColor);
}

.navIcon {
  font-size: 1.2rem;
  margin-bottom: var(--mg1);
}

.showMenu {
  bottom: 3rem;
}

.activeLink {
  color: var(--titleColor);
}

/* -------------HOME */
.home {
  position: relative;
}

.homeContainer {
  gap: 3rem;
}

.homeData {
  gap: 0.5rem;
  text-align: center;
}

.homeImage {
  object-fit: cover;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  justify-self: center;
  margin-bottom: var(--mg1);
}

.homeTitle {
  font-size: var(--h1-font-size);
}
.homeProfession {
  font-size: var(--normal-font-size);
  margin-bottom: var(--mg1);
}

.homeAddress {
  gap: 1rem;
}

.homeInformation {
  display: flex;
  align-items: center;
  font-size: var(--small-font-size);
}

.homeButtonMobil {
  display: inline-block;
  border: 2px solid var(--textColor);
  color: var(--titleColor);
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  transition: 0.3s;
  font-weight: 500;
  margin-top: var(--mg3);
}

.homeButtonMobil:hover {
  background-color: var(--textColor);
  color: var(--titleColor);
}

/* -------------SOCIAL */
.socialContainer {
  grid-template-columns: max-content;
  gap: 1rem;
}

.socialLink {
  display: inline-flex;
  align-items: center;
  font-size: var(--small-font-size);
  color: var(--lighterColor);
}

.socialLink:hover {
  color: var(--newColor);
}

.socialIcon {
  font-size: 1.2rem;
  margin-right: 0.2rem;
}

/* -------------PROFILE */
.profileDescription {
  text-align: center;
}

/* -------------EDUCATION & EXPERIENCE */
.educationContent,
.experienceContent {
  display: flex;
}

.educationTime,
.experienceTime {
  padding-right: 1rem;
}

.educationRounder,
.experienceRounder {
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  background-color: var(--lighterColor);
  border-radius: 50%;
}

.educationLine,
.experienceLine {
  display: block;
  width: 2px;
  height: 110%;
  background-color: var(--lighterColor);
  transform: translate(7px, 0);
}

.educationData,
.experienceData {
  gap: 0.5rem;
}

.educationTitle,
.experienceTitle {
  font-size: var(--h3-font-size);
}

.educationStudies,
.experienceDescription {
  font-size: var(--small-font-size);
  color: var(--titleColor);
}

.educationYear,
.experienceCompany{
  font-size: var(--smaller-font-size);
}

/* -------------SKILLS & LANGUAGES */
.skillsContent,
.languagesContent{
  grid-template-columns: repeat(2, 1fr);
}

.skillsContent{
  gap: 0;
}

.skillsName,
.languagesName{
  display: flex;
  align-items: center;
  margin-bottom: var(--mg3);
}

.skillsCircle,
.languagesCircle{
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--textColor);
  margin-right: .75rem;
}

/* -------------SKILLS */
.certificateTitle{
  font-size: var(--h3-font-size);
  margin-bottom: var(--mg1);
}

/* -------------REFERENCES */
.referencesContent{
  gap: .25rem;
}
.referencesSubtitle{
  color: var(--lighterColor);
}

.referencessubtitle,
.referencesContact{
  font-size: var(--smaller-font-size);
}

.referencesSubtitle{
  font-size: var(--h3-font-size);
}

/* -------------LANGUAGES */
.languagesFlag{
  width: 1.6rem;
  height: 1rem;
  margin-right: .25rem;
}

/* -------------INTERESTS */
.interestsContainer{
  grid-template-columns: repeat(3, 1fr);
  margin-top: var(--mg2);
}

.interestsContent{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.interestsIcon{
  font-size: 1.5rem;
  color: var(--lightColor);
  margin-bottom: .25rem;
}

/* To top button */
.scrolltop{
  position: fixed;
  right: 1rem;
  bottom: -20%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .3rem;
  background-color: var(--alternateBackground);
  border-radius: .4rem;
  z-index: 10;
  transition: .4s;
  visibility: hidden;
}

.scrolltopIcon{
  font-size: 1.2rem;
  color: var(--textColor);
}

.showScroll{
  visibility: visible;
  bottom: 5rem;
}

/* Two column menu for small devices*/
@media screen and (max-width: 320px){
  .navList{
    grid-template-columns: repeat(2,1fr);
    gap: 1rem .5rem;
  }
}

@media screen and (min-width: 968px){
  body{
    margin: 3rem 0;
  }

  .container{
    margin-left: auto;
    margin-right: auto;
  }

  .header1,
  .scrolltop,
  .homeButtonMobil{
    display: none;
  }

  .resume{
    display: grid;
    grid-template-columns: .5fr 1fr;
    background-color: var(--bodyColor);
    box-shadow: 0 0 8px rgba(13,12,12,.15);
  }

  .resumeLeft{
    background-color: var(--alternateBackground);
  }

  .resumeLeft,
  .resumeRight{
    padding: 0 1.5rem;
  }

  .generatePDF{
    display: inline-block;
  }

  .sectionTitle,
  .profileDescription{
    text-align: initial;
  }

  .homeContainer{
    gap: 1.5rem;
  }

  .referencesContainer{
    grid-template-columns: repeat(2, 1fr);
  }

  .languagesContent{
    grid-template-columns: repeat(2, max-content);
    column-gap: 3.5rem;
  }

  .interestsContainer{
    grid-template-columns: repeat(3, max-content);
    column-gap: 3.5rem;
  }
  
}


